*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: inherit;
	max-width: 100%;
}

main {
	width: 100%;
	max-width: 42rem;
	margin: 6rem auto;
	padding: 0 1rem;
}

.layout {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.post {
	h1 {
		margin-bottom: 1rem;
	}

	.meta {
		font-size: 0.8rem;
		margin-bottom: 4rem;
	}

	img+h1 {
		margin-top: 1rem;
	}
}

li {
	margin-bottom: 0.25rem;
}

.posts-list {
	list-style-type: none;
	padding: 0;

	li {
		margin-bottom: 6rem;
	}

	img+h2 {
		margin-top: 1rem;
	}

	a {
		display: block;
	}
}

.post-footer__categories {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.post-footer li {
	display: inline-block;
	font-size: 0.8rem;
}

.post-footer a {
	background-color: var(--lightAccent);
	padding: .5rem 0.75rem;
	text-transform: uppercase;
	font-family: var(--primaryFont);
	font-weight: bold;
}

.icon-link {
	position: relative;
}

.icon-link::before {
	content: url('/link.svg');
	fill: currentColor;
	position: absolute;
	left: -1rem;
	width: 1rem;
	height: 1rem;
	top: 0;
	opacity: 0.2;
	transition: opacity .2s;
}

@media (min-width: 48rem) {
	.icon-link::before {
		left: -1.5rem;
	}
}

.icon-link:hover::before {
	opacity: 1;
}
