body {
	line-height: 1.5;
}

@media (min-width: 48rem) {
	body {
		font-size: 1.125rem;
	}
}

@media (min-width: 80rem) {
	body {
		font-size: 1.25rem;
	}
}

:where(h1, h2, h3, h4, h5, h6) {
	margin: 4.5rem 0 1rem;
	line-height: 1.1;
	font-family: var(--accentFont);
	font-weight: bold;
	color: var(--darker);
	text-wrap: balance;
}

h1 {
	font-size: clamp(2.5rem, calc(2.5rem + 1vw), 3.5rem);
	margin: 0 0 2rem;
	position: relative;
	overflow: hidden;
}

h2 {
	font-size: clamp(1.8rem, calc(1.8rem + 1vw), 2.5rem);
}

h3 {
	font-size: clamp(1.6rem, calc(1.6rem + 1vw), 2rem);
}

h4 {
	font-size: clamp(1.5rem, calc(1.5rem + 1vw), 1.8rem);
	;
}

h5 {
	font-size: clamp(1.35rem, calc(1.35rem + 1vw), 1.5rem);
	;
}

h6 {
	font-size: clamp(1.1rem, calc(1.1rem + 1vw), 1.25rem);
}

a {
	color: var(--darker);
	text-decoration-thickness: 1px;
	text-decoration-color: var(--dark);
}

ul {
	list-style-type: square;
	padding-left: 1.5rem;
}

ul ul {
	list-style-type: circle;
}

ul::marker {
	color: var(--accent);
}
